.kanban-column {
  flex: 1;
  border-radius: 8px;
  padding: 1rem;
  overflow-y: auto;
  max-height: 70vh;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.kanban-column h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 0.5rem;
  text-shadow: -1px -1px 0 #565656, 1px -1px 0 #565656, -1px 1px 0 #565656, 1px 1px 0 #565656;

}

/* Column Colors with Subtle Gradients */
.kanban-column[data-status="To Do"] {
  background: linear-gradient(to bottom right, rgba(255, 232, 21, 0.881), rgba(255, 210, 61, 0.85));
}

.kanban-column[data-status="In Progress"] {
  background: linear-gradient(to bottom right, rgba(3, 169, 244, 0.85), rgba(2, 136, 209, 0.85));
}

.kanban-column[data-status="Blocked"] {
  background: linear-gradient(to bottom right, rgba(244, 67, 54, 0.85), rgba(211, 47, 47, 0.85));
}

.kanban-column[data-status="Done"] {
  background: linear-gradient(to bottom right, rgba(76, 175, 80, 0.85), rgba(56, 142, 60, 0.85));
}

/* Ticket List */
.ticket-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
